.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.welcome img{
    width: 100%;
}
/*google*/
.google button img{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*otp*/
.icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.input-container{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 100px;

}
.input-container input{
    width: 100%;
    border: none;
    outline: none;
}

.input-container input{
    flex:4;
}
.input-container select{
    flex: 1;
}
.phone-container{
    display: flex;
    min-height: 94vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


















































































































































































