*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    background-color: #000000;
    padding: 40px;
}
.card{
    box-shadow: 0px 0px 10px #1f1e1e;
    padding: 20px;
    line-height: 2;
    background-color: #0c0c0c;
    color: #fff;
    border-bottom: 5px solid #8bf9b0;
}
table{
    text-align: center;
}
table th{
    background-color: #8bf9b0;
    color: #0c0c0c;
    font-weight: 900;
}
table td{
    padding:10px ;
}
.card p{
    color:#8bf9b0;
}